@{
    ViewBag.Title = "Artigos";
}

<div class="container">
    
        <div class="lista">
            @{
                foreach (var artigo in ViewBag.listaArtigos)
                {
                    <p>@artigo.CodArtigo</p>
                }
            }
        </div>
    </div>

