@{
    ViewBag.Title = "Artigo";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/form_validator.js"></script>  

<div class="container">
        <div class="card" style="padding-top:15px;margin-top:20px">
            <div class="container-fliud" style="padding:15px">
                <div class="row">
                    <div class="previewProduct col-md-8">
                        <img width="600" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                    </div>
                    <div class="descriptionProduct col-md-4">
                        @{
                            <h3 class="product-title">@ViewBag.artigo.DescArtigo</h3>
                            <p class="product-description">@ViewBag.artigo.CodArtigo</p>
                        }
                        
                        <h3 class="product-details">Product Details</h3>
                        @{
                            <p class="category">Category: <span>@ViewBag.artigo.Categoria</span></p>
                            <p class="price">Price: <span>@ViewBag.artigo.Preco</span></p>
                            <p>
                                Quantity:
                                <input type="number" id="quantity" name="quantity" value="1" style="width:50px" />
                            </p>
                            
                        }
                        
                        <form id="add_product_form" class="form-horizontal" name="add_product_form" action="#" onsubmit="return addProductToCart(this);">
                            @{
                                <input type="hidden" id="codArtigo" name="codArtigo" value=@ViewBag.artigo.CodArtigo>
                                <input type="hidden" id="precoArtigo" name="precoArtigo" value=@ViewBag.artigo.Preco>
                                <input type="hidden" id="descArtigo" name="descArtigo" value=@ViewBag.artigo.DescArtigo>
                            }        
                            @{
                                if (Request.Cookies["UserId"] != null)
                                {
                                    <div class="action">
                                        <button type="submit" class="add-to-cart btn btn-info">Add to Cart</button>
                                    </div>
                                }
                            }                                              
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top:20px">
            <div class="container-fliud" style="padding:15px">
                <h3 class="product-recommendation">Recommendations</h3>
                <div class="row">
                    <div class="rec1 col-md-3">
                        <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                        <p>Product Name</p>
                    </div>
                    <div class="rec2 col-md-3">
                        <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                        <p>Product Name</p>
                    </div>
                    <div class="rec3 col-md-3">
                        <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                        <p>Product Name</p>
                    </div>
                    <div class="rec4 col-md-3">
                        <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                        <p>Product Name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
