@{
    ViewBag.Title = "ArtigosStock";
}

<div class="container">
    <h2>Stock</h2>
    <ul class="list-group">
        @{
            foreach (var armazem in ViewBag.listaArmazens)
            {
                <li  class="list-group-item">
                    <div>
                        <a href="/Admin/ArmazensArtigo/@armazem.CodArmazem">@armazem.CodArmazem</a>
                        <p>@armazem.Descricao</p>
                    </div>
                    
                </li>
            }
        }
    </ul>
</div>
