@{
    ViewBag.Title = "ArtigosStock";
}

<div class="container">
    <h2>Stock</h2>
    <ul class="list-group">
        @{
            foreach (var artigo in ViewBag.listaArtigos)
            {
                <li  class="list-group-item">
                    <div>
                        <p>@artigo.DescArtigo;</p>
                        <p>@artigo.CodArtigo;</p>
                        <p>@artigo.STKAtual;</p>
                        @*{ Html.RenderAction("ArmazensArtigo", "Admin", new { id = @artigo.CodArtigo }); } *@
                    </div>
                    
                </li>
            }
        }
    </ul>
</div>
