@{
    ViewBag.Title = "Index";
}

 
     @if (Request.Cookies["UserId"] == null || Request.Cookies["UserId"].Value != "admin")
     {
        <div class="container">
            @{Html.RenderAction("PermissionDenied", "Error");}
        </div>
     }
     else
     {
        <div class="container">
            @{ Html.RenderAction("ArtigosStock", "Admin"); }
        </div>
     }
     

