@{
    ViewBag.Title = "Admin";
}

 
     @if (Request.Cookies["UserId"] == null || Request.Cookies["UserId"].Value != "admin")
     {
        <div class="container">
            @{Html.RenderAction("PermissionDenied", "Error");}
        </div>
     }
     else
     {
        <div class="row">
            <div class=".col-md-4">
                @{ Html.RenderAction("ArtigosStock", "Admin"); }
            </div>
            <div class=".col-md-6">
                @{ Html.RenderAction("Status", "Admin");}
            </div>
        </div>
     }
     

