@{
    ViewBag.Title = "Categorias";
}

<div class="container">
    <div class="menu">
        <div class="row">
            <div class="col col-md-3">
                <div class="mini-menu">
                    <h3>Categorias</h3>
                    <div class="btn-group-vertical">
                        @{
                            foreach (var categoria in ViewBag.listaCategorias)
                            {
                                <button type="button" class="btn btn-info" style="border-color:white">@categoria.NomeCategoria</button>
                            }

                        }

                    </div>
                </div>
            </div>
            <div class="col" style="padding-top:40px">
             @{ Html.RenderAction("ArtigosPorCategoria", "Artigos", new { categoria = "A01" });  }
                             
            </div>
        </div>
    </div>
</div>
