@{
    ViewBag.Title = "Categorias";
}

<div class="container">
    <div class="menu">
        <div class="btn-group-vertical">
            @{
                foreach (var categoria in ViewBag.listaCategorias)
                {
                    <button type="button" class="btn btn-info">@categoria.NomeCategoria</button>
                }

            }
            
            
        </div>
     </div>
</div>
