@{
    ViewBag.Title = "Categorias";
}


    <div class="menu">
        <div class="row">
            <div class="col col-md-3">
                <div class="mini-menu">
                    <h3>Categorias</h3>
                    <div class="btn-group-vertical">
                        @{
                            foreach (var categoria in ViewBag.listaCategorias)
                            {
                                <button type="button" class="btn btn-info" style="border-color:white">@categoria.NomeCategoria</button>
                            }

                        }

                    </div>
                </div>
            </div>
            <div class="col" style="padding-top:5px">
             @{ Html.RenderAction("Artigos", "Artigos");  }
                             
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

