<div id="body">
    <section class="featured">
        <div class="content-wrapper">
           <a href="/Artigos">Artigos</a><br />
           <a href="/Categoria">Catalogo</a><br/>
           <a href="/Clientes">Clientes</a><br/>
        </div>
    </section>

</div>