<div id="body">
    <section class="featured">
        <div class="content-wrapper">
           <a href="/Artigos">Artigos</a><br />
           <a href="/Produto">Página Produto</a><br />
           <a href="/Catalogo">Página Catalogo</a>
        </div>
    </section>
</div>