@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="card" style="padding-top:15px;margin-top:20px">
        <div class="container-fliud" style="padding:15px">
            <div class="row">
                <div class="previewProduct col-md-8">
                    <img width="600" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                </div>
                <div class="descriptionProduct col-md-4">
                    <h3 class="product-title">Product Name</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">ProductID</span>
                    </div>
                    <p class="product-description">Product Description</p>
                    <h3 class="product-details">Product Details</h3>
                    <h5 class="price">Price: <span>180€</span></h5>
                    <h5 class="sizes">
                        Sizes:
                        <span class="size" data-toggle="tooltip" title="small">S</span>
                        <span class="size" data-toggle="tooltip" title="medium">M</span>
                        <span class="size" data-toggle="tooltip" title="large">L</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">XL</span>
                    </h5>
                    <h5 class="colors">
                        Colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <button class="add-to-cart btn btn-info" type="button">Add to Cart</button>
                        <button class="like btn btn-info" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top:20px">
        <div class="container-fliud" style="padding:15px">
            <h3 class="product-recommendation">Recommendations</h3>
            <div class="row">
                <div class="rec1 col-md-3">
                    <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                    <h6>Product Name</h6>
                </div>
                <div class="rec2 col-md-3">
                    <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                    <h6>Product Name</h6>
                </div>
                <div class="rec3 col-md-3">
                    <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                    <h6>Product Name</h6>
                </div>
                <div class="rec4 col-md-3">
                    <img width="250" src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png" />
                    <h6>Product Name</h6>
                </div>
            </div>
        </div>
    </div>
</div>