@{
    ViewBag.Title = "GetEncomendasCliente";
}

<div class="container">

    <div class="lista">
        @{
            foreach (var encomendas in ViewBag.listaEncomendasCliente)
            {
                <p>@encomendas.id</p>
            }
        }
    </div>
</div>

