@{
    ViewBag.Title = "Sign Up";
}

@section css{
    <link href="@Url.Content("~/Content/signup.css")" rel="stylesheet" type="text/css" />
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/form_validator.js"></script>  

<div class="container" id="form">
    <div id="sign-title" class="text-center">
        <h2>Sign up</h2>
    </div>

    <form id="sign_up_form" class="form-horizontal" name="sign_up_form" action="#" onsubmit="return validateFormOnSubmit(this);"
          data-fv-framework="bootstrap"
          data-fv-icon-valid="glyphicon glyphicon-ok"
          data-fv-icon-invalid="glyphicon glyphicon-remove"
          data-fv-icon-validating="glyphicon glyphicon-refresh">
        <fieldset id="form_content">
            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="fullname">Full Name</label>
                <div class="text-center">
                    <input id="fullname" name="fullname" type="text" placeholder="Full Name" class="form-control" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <div class="text-center">
                    <input id="address" name="address" type="text" placeholder="Address" class="form-control " required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <div class="text-center">
                    <input id="username" name="username" type="text" placeholder="Username" class="form-control" maxlength="12" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <div class="text-center">
                    <input id="email" name="email" type="email" placeholder="Email" class="form-control " data-fv-emailaddress-message="The value is not a valid email address" required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="control-label" for="pass">Password</label>
                <div class="text-center">
                    <input id="pass" name="pass" type="password" placeholder="Password" class="form-control" minlength="8" required="">
                </div>
                <span class="help-block">minimum size 8</span>
            </div>

            <div id="submit_button" class="text-center">
                <button id="btnsubmit" type="submit" class="btn btn-primary">Create</button>
            </div>
        </fieldset>
    </form>

</div>

